.result {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    table-layout: fixed;  /* 어떤 상황에서도 표 크기를 고정하고 싶을때 */
    border-spacing: 1rem;  /* 표의 테두리와 셀(td)의 테두리 사이의 간격 설정 */
    text-align: right;
}

.result thead {
    font-size: 0.7rem;
    color: #83e6c0;
}

.result tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85rem;
    color: #c2e9e0;
}